
.titleText {
    font-size: 200px;
    font-family: sans-serif;
}

.about_pic {
    margin-top: 100px;
}

#container {
	overflow: hidden;
	background: black;
}

.photobanner {
    height: 250px;
	width: 4000px;
	margin-bottom: 80px;
    animation: bannermove 30s linear infinite;
    animation-play-state: running;
}

.photobanner:hover
{
    animation-play-state: paused;
}


.photobanner img {
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.photobanner img:hover {
	
    -webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;

	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}


/*
keyframe animations
.first {
	-webkit-animation: bannermove 32s linear infinite;
	-moz-animation: bannermove 32s linear infinite;
	-ms-animation: bannermove 32s linear infinite;
	animation: bannermove 32s linear infinite;
}
*/

@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }

}

@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}


.sectionHeading {

}

.award {
    display: block;
}

.member {
    float: left;
    width: 200px;
    height: 200px;
}

.navbar {
    color:white;
}

.navbarlogo {
    width: 110px;
    height: 55px;
}

.youtubeVideo
{
    width: 100%;
    height:550px;
}

.spotify {
    width: 100%;
    height: 300px;
    
}

div.expandbutton div { display:none; }


#content {
    display: none;
}


@media only screen and (max-width: 800px)
{
    .titleText
    {
        font-size: 200px;
    }
    
}


@media only screen and (max-width: 750px)
{
    .titleText
    {
        font-size:100px;
    }
    
    .bgimg-1
    {
        max-height: 300px;
    }
    
    
    .youtubeVideo
    {
        
        height: 300px;
    }
    
    .photobanner
    {
        display: none;
    }
    
    #container
    {
        display: none;
    }
    
    .memberText
    {
        text-align: center;
    }
    
    
    .member
    {
        margin-left: 25%;
        
    }
    

    
}
@media only screen and (max-width: 600px)
{
    .titleText
    {
        display: none;
    }
    
    
}